1.Import the Libraries

In [1]:
#Code task 1#
#Import pandas, matplotlib.pyplot, and seaborn in the correct lines below
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

2.Import the CSV data file

In [2]:
# the supplied CSV data file is the raw_data directory

HotelBooking_data = pd.read_csv('..\Hotel booking prediction\hotel_bookings.csv')

3. Printing some Records of the Dataset

In [3]:
#Call the head method on HotelBooking_data to print the first several rows of the data

HotelBooking_data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [11]:
HotelBooking_data.sample(15)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
14638,Resort Hotel,0,7,2016,November,48,21,1,0,1,...,No Deposit,314.0,NaN,0,Transient,34.40,0,0,Check-Out,2016-11-22
10771,Resort Hotel,1,10,2017,April,14,3,1,1,1,...,Non Refund,NaN,135.0,0,Transient,45.00,0,0,Canceled,2017-04-03
65836,City Hotel,1,28,2017,April,15,9,2,0,2,...,No Deposit,9.0,NaN,0,Transient,140.00,0,0,Canceled,2017-03-12
26065,Resort Hotel,0,55,2016,July,30,21,0,3,2,...,No Deposit,240.0,NaN,0,Transient,172.00,0,1,Check-Out,2016-07-24
32078,Resort Hotel,0,11,2017,January,2,12,1,3,2,...,No Deposit,240.0,NaN,0,Transient,58.00,0,0,Check-Out,2017-01-16
105203,City Hotel,0,68,2017,January,4,28,2,3,1,...,No Deposit,22.0,NaN,0,Transient,79.75,0,0,Check-Out,2017-02-02
67215,City Hotel,1,78,2017,April,17,29,2,1,2,...,Non Refund,6.0,NaN,0,Transient,90.00,0,0,Canceled,2017-02-10
65121,City Hotel,1,305,2017,March,12,25,0,1,2,...,No Deposit,9.0,NaN,0,Transient,71.10,0,2,Canceled,2017-03-19
42596,City Hotel,0,14,2015,September,37,7,1,5,2,...,No Deposit,9.0,NaN,0,Contract,166.00,0,3,Check-Out,2015-09-13
78124,City Hotel,0,0,2015,October,40,2,1,2,1,...,No Deposit,NaN,NaN,0,Transient-Party,145.00,0,0,Check-Out,2015-10-05
54837,City Hotel,1,386,2016,July,31,28,0,1,1,...,Non Refund,1.0,NaN,0,Transient,59.00,0,0,Canceled,2015-10-21
94183,City Hotel,0,301,2016,July,31,30,1,1,2,...,No Deposit,6.0,NaN,0,Transient-Party,115.00,0,1,Check-Out,2016-08-01
24216,Resort Hotel,0,77,2016,May,20,10,0,5,2,...,No Deposit,241.0,NaN,0,Transient,34.00,1,1,Check-Out,2016-05-15
52293,City Hotel,1,111,2016,June,23,2,1,3,2,...,No Deposit,9.0,NaN,0,Transient,132.60,0,0,Canceled,2016-03-29
111097,City Hotel,0,322,2017,May,18,5,0,1,2,...,No Deposit,21.0,NaN,0,Transient-Party,75.00,0,0,Check-Out,2017-05-06

4. Printing the Summary of the Dataset

In [20]:
HotelBooking_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

5. Printing Statistical summary of the Dataset

In [22]:
HotelBooking_data.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

6. Checking the Data types

In [67]:
HotelBooking_data.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

7. Printing the Column names of the Dataset

In [28]:
HotelBooking_data.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

8. Checking for NULL values in Dataset

In [65]:
HotelBooking_data.isnull().values.any()

True

In [35]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#HotelBooking_data as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([HotelBooking_data.isnull().sum(), 100 * HotelBooking_data.isnull().mean()], axis=1)
missing.columns=['Total Missing', '% Missing']
missing.sort_values(by='Total Missing')

                                Total Missing  % Missing
hotel                                       0   0.000000
total_of_special_requests                   0   0.000000
required_car_parking_spaces                 0   0.000000
adr                                         0   0.000000
customer_type                               0   0.000000
days_in_waiting_list                        0   0.000000
deposit_type                                0   0.000000
booking_changes                             0   0.000000
assigned_room_type                          0   0.000000
reserved_room_type                          0   0.000000
previous_bookings_not_canceled              0   0.000000
previous_cancellations                      0   0.000000
is_repeated_guest                           0   0.000000
reservation_status                          0   0.000000
distribution_channel                        0   0.000000
reservation_status_date                     0   0.000000
meal                                        0   0.000000
babies                                      0   0.000000
adults                                      0   0.000000
stays_in_week_nights                        0   0.000000
stays_in_weekend_nights                     0   0.000000
arrival_date_day_of_month                   0   0.000000
market_segment                              0   0.000000
is_canceled                                 0   0.000000
arrival_date_week_number                    0   0.000000
arrival_date_month                          0   0.000000
arrival_date_year                           0   0.000000
lead_time                                   0   0.000000
children                                    4   0.003350
country                                   488   0.408744
agent                                   16340  13.686238
company                                112593  94.306893

9. Checking for duplicate values in the Dataset

In [37]:
HotelBooking_data.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Length: 119390, dtype: bool

10. Dropping the duplicate values in the Dataset and creating a new Dataset without dupilcate values

In [51]:
HotelBooking_data_New = HotelBooking_data.drop_duplicates()

11. Verifying if duplicate values have been removed successfully

In [50]:
HotelBooking_data_New.duplicated().sum()

0

12. Number of distinct observations

In [55]:
HotelBooking_data_New.nunique().sort_values()

hotel                                2
is_canceled                          2
is_repeated_guest                    2
arrival_date_year                    3
deposit_type                         3
reservation_status                   3
customer_type                        4
required_car_parking_spaces          5
meal                                 5
babies                               5
distribution_channel                 5
children                             5
total_of_special_requests            6
market_segment                       8
reserved_room_type                  10
arrival_date_month                  12
assigned_room_type                  12
adults                              14
previous_cancellations              15
stays_in_weekend_nights             17
booking_changes                     21
arrival_date_day_of_month           31
stays_in_week_nights                35
arrival_date_week_number            53
previous_bookings_not_canceled      73
days_in_waiting_list               128
country                            177
agent                              333
company                            352
lead_time                          479
reservation_status_date            926
adr                               8879
dtype: int64

In [53]:
missing = pd.concat([HotelBooking_data_New.isnull().sum(), 100 * HotelBooking_data_New.isnull().mean()], axis=1)
missing.columns=['Total Missing', '% Missing']
missing.sort_values(by='Total Missing')

                                Total Missing  % Missing
hotel                                       0   0.000000
total_of_special_requests                   0   0.000000
required_car_parking_spaces                 0   0.000000
adr                                         0   0.000000
customer_type                               0   0.000000
days_in_waiting_list                        0   0.000000
deposit_type                                0   0.000000
booking_changes                             0   0.000000
assigned_room_type                          0   0.000000
reserved_room_type                          0   0.000000
previous_bookings_not_canceled              0   0.000000
previous_cancellations                      0   0.000000
is_repeated_guest                           0   0.000000
reservation_status                          0   0.000000
distribution_channel                        0   0.000000
reservation_status_date                     0   0.000000
meal                                        0   0.000000
babies                                      0   0.000000
adults                                      0   0.000000
stays_in_week_nights                        0   0.000000
stays_in_weekend_nights                     0   0.000000
arrival_date_day_of_month                   0   0.000000
market_segment                              0   0.000000
is_canceled                                 0   0.000000
arrival_date_week_number                    0   0.000000
arrival_date_month                          0   0.000000
arrival_date_year                           0   0.000000
lead_time                                   0   0.000000
children                                    4   0.004577
country                                   452   0.517186
agent                                   12193  13.951439
company                                 82137  93.982562

In [64]:
HotelBooking_data_New['company'].index

Int64Index([     0,      1,      2,      3,      4,      6,      7,      8,
                 9,     10,
            ...
            119380, 119381, 119382, 119383, 119384, 119385, 119386, 119387,
            119388, 119389],
           dtype='int64', length=87396)